<footer class="footer">
  <div class="footer-container">
 
    <div class="footer-newsletter">
      <h3>Suscríbete a nuestra newsletter</h3>
  
      <form class="newsletter-form">
        <input type="email" placeholder="Tu correo electrónico" required>
        <button type="submit" class="btn-primary">Suscribirme ⮞</button>
      </form>
    </div>

    <div class="footer-social">
      <div class="logo">
        <img src="../../../assets/logofooter.png" alt="Chill Coffee logo" class="logo-img">
      </div>  
      <a href="https://www.instagram.com/tu_cuenta" target="_blank">
        <i class="fab fa-instagram"></i> 
      </a>
    </div>
  </div>
</footer>
