

.footer {
  background-color: #3e2723;
  color: #fff8f0;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 120px;
}

.footer-newsletter {
  font-weight: 100px;
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat Alternates', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.footer-newsletter h3 {
  font-size: 15px;
  margin-bottom: 20px;
  color: #fff9e1;
  letter-spacing: 1.2px;
  font-family: "Montserrat Alternates", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;;
}

.footer-newsletter p {
  font-size: 16px;
  margin-bottom: 15px;
}

.newsletter-input {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 6px;
  overflow: hidden;
  background: transparent;
  transition: border-color 0.3s ease;
}

.newsletter-form input[type="email"] {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 10px 12px;
  font-size: 14px;
  width: 240px;
  font-family: 'Comic Neue', cursive;
}

.newsletter-input button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover y focus */
.newsletter-input:hover,
.newsletter-input:focus-within {
  border-color: #ffebc4;
}

.newsletter-input button:hover {
  color: #ffebc4;
  transform: translateX(2px);
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-social a i{
  color: #fff8f0;
  text-decoration: none;
  font-size: 25px;
}
 
@media (max-width: 1480px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

}