.footer {
  background-color: #3e2723;
  color: #fff;
  padding: 20px 0;
  font-family: 'Arial', sans-serif;
  text-align:center;
  position:relative;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
}

.footer-container img{
  width: 180px;
  height: 80px;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}


.footer-logo-img {
  width: 20px;
  height: 20px;
}

.footer-info p,
.footer-social a {
  margin: 5px 0;
  color: #fff;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ccc;
  padding-top: 20px;
}
