.footer {
  background-color: #3e2723;
  color: #fff8f0;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 120px;
}

.footer-newsletter {
  max-width: 400px;
  text-align: center;
}

.footer-newsletter h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff9e1;
  letter-spacing: 1.2px;
}

.footer-newsletter p {
  font-size: 16px;
  margin-bottom: 15px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.newsletter-form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 115px;
  font-size: 12px;
}

.newsletter-form button {
  padding: 10px ;
  border: 2px solid #ffffff;
  background-color: transparent;    
  color: #ffffff;                    
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-form button:hover {
  border-color: #ffebc4;             
  box-shadow: 0 0 8px #ffebc4;      
  background-color: transparent;    
  color: #ffebc4;                   
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-social a i{
  color: #fff8f0;
  text-decoration: none;
  font-size: 25px;
}
 
@media (max-width: 1480px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

}