<header>
  <div class="coffee-bar">
    <p>Bienvenido a ChillCoffe </p>
  </div>

  <!-- Hamburguesa, pantalla móvil -->
  <nav class="navbar">
    <div class="hamburger" (click)="toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    
  <!-- Menu, pantallas grandes -->
    <ul class="nav-links">
      <li><a routerLink="">INICIO</a></li>
      <li><a routerLink="/products">PRODUCTOS</a></li>
      <li><a routerLink="/contact">CONTACTO</a></li>
      <li><a routerLink="/grinding">CÓMO MOLER TU CAFÉ</a></li>
    </ul>

    <div class="center-logo">
      <img src="../../../assets/logo.png" alt="ChillCoffee logo" class="logo-img">
    </div>  

    <div class="nav-icons">
      <a href="#" class="icon"><i class="fas fa-search"></i></a>
      <a routerLink="/cart" class="icon"><i class="fas fa-shopping-cart"></i></a>
    </div>
  

  <!-- Menú móvil (oculto por defecto) -->
  <div class="mobile-menu" [class.active]="menuAbierto">
  <ul>
    <li>
      <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">INICIO</a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active-link">PRODUCTOS</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active-link">CONTACTO</a>
    </li>
    <li>
      <a routerLink="/grinding" routerLinkActive="active-link">CÓMO MOLER TU CAFÉ</a>
  </ul>

  <!-- Redes sociales -->
  <div class="mobile-socials">
    <p>Síguenos en redes</p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
</nav>
  
  <div class="coffee-redes">
    <p>Síguenos en redes sociales</p>
  </div>
</header>