/* Evita overflow horizontal en toda la web */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* hace que padding y border no sumen al width */
  overflow-x: hidden; /* bloquea cualquier scroll horizontal */
  width: 100%;
   min-height: 200vh
}

/* Aplica box-sizing a todos los elementos */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Imágenes y videos no se salgan del contenedor */
img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Contenedores principales */
.container, .content, .header, .footer {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}


/* .no-scroll {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
}
 */
